@model IEnumerable<aspnetmvcdapper.Models.musterimodel>
@{ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml"; }  <!--_mainlayout adında shared içine view oluşturdum. burayada urlsini ekledim-->

<p>
    @*@Html.ActionLink("Müşteri Ekle", "ekle")*@ <!--link şeklinde -->
    <button type="button" class="btn btn-info" onclick="location.href = '@Url.Action("ekle","musteri")'">Müşteri Ekle</button><!--buton şeklinde -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.musteriad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musterisoyad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.musteriad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.musterisoyad)
    </td>
    <td>
        @*@Html.ActionLink("Düzenle", "ekle", new { id = item.musteriid })*@
        @*@Html.ActionLink("Sil", "Delete", new { id = item.musteriid })*@
        <button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("ekle","musteri",new { id = item.musteriid })'">Düzenle</button>
        @*<button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("ekle","musteri", new { id = item.musteriid }))'">Sil</button>*@@*direk uyarı vermeden siler ve ındex sayfasına yönlendirir*@
        @Html.ActionLink("Sil", "Delete", new { id = item.musteriid }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İsteğinizden Emin Misiniz?')" }) @*1.parametre adı butonda gözükecek ad,2.parametre gideceği yer*@
    </td>
</tr>
    }

</table>
